---
import { t, type Locale } from "../i18n/ui";
import { withLocale } from "../i18n/utils";

const { lang } = Astro.props as { lang: Locale };
const tr = t(lang);
const d = (p: string) => withLocale(lang, p);
---

<footer>
  <div class="container foot">
    <div>
      <a class="brand" href={d("/")}><img class="logo" src="/pepe-icon.svg" width="30" height="30" alt="Pepe" /><span>Pepe</span></a>
      <p class="small">{tr("foot.tagline")}</p>
    </div>
    <div class="cols">
      <div>
        <h4>{tr("foot.docs")}</h4>
        <a href={d("/docs/")}>{tr("foot.intro")}</a>
        <a href={d("/docs/quickstart/")}>{tr("foot.quickstart")}</a>
        <a href={d("/docs/agents/")}>{tr("foot.agents")}</a>
        <a href={d("/docs/channels/")}>{tr("foot.channels")}</a>
      </div>
      <div>
        <h4>{tr("foot.guides")}</h4>
        <a href={d("/docs/plugins/")}>{tr("foot.plugins")}</a>
        <a href={d("/docs/scheduled/")}>{tr("foot.scheduled")}</a>
        <a href={d("/docs/security/")}>{tr("foot.security")}</a>
        <a href={d("/docs/api/")}>{tr("foot.api")}</a>
      </div>
      <div>
        <h4>{tr("foot.project")}</h4>
        <a href="https://github.com/pepe-agent/pepe">GitHub</a>
        <a href={d("/docs/")}>{tr("foot.documentation")}</a>
        <a href={d("/terms/")}>{tr("foot.terms")}</a>
        <a href={d("/privacy/")}>{tr("foot.privacy")}</a>
      </div>
    </div>
  </div>
</footer>
