---
import { t, type Locale } from "../i18n/ui";
import { withLocale } from "../i18n/utils";

const { lang } = Astro.props as { lang: Locale };
const tr = t(lang);
const d = (p: string) => withLocale(lang, p);
---

<footer>
  <div class="container foot">
    <div>
      <a class="brand" href={d("/")}><img class="logo" src="/pepe-icon.svg" width="30" height="30" alt="Pepe" /><span>Pepe</span></a>
      <p class="small">{tr("foot.tagline")}</p>
    </div>
    <div class="cols">
      <div>
        <h4>{tr("foot.docs")}</h4>
        <a href={d("/docs/")}>Introduction</a>
        <a href={d("/docs/quickstart/")}>Quickstart</a>
        <a href={d("/docs/agents/")}>Agents &amp; tools</a>
        <a href={d("/docs/channels/")}>Channels</a>
      </div>
      <div>
        <h4>{tr("foot.guides")}</h4>
        <a href={d("/docs/plugins/")}>Plugins</a>
        <a href={d("/docs/scheduled/")}>Scheduled tasks</a>
        <a href={d("/docs/security/")}>Security &amp; sandbox</a>
        <a href={d("/docs/api/")}>HTTP API</a>
      </div>
      <div>
        <h4>{tr("foot.project")}</h4>
        <a href="https://github.com/jhonathas/pepe">GitHub</a>
        <a href={d("/docs/")}>Documentation</a>
      </div>
    </div>
  </div>
</footer>
